{% extends 'base.html' %} {% block body_contents %}

<div class="jumbotron text-center">
  <h1>Welcome To UNSWtalk</h1>
  <p class="lead">This application is built on the Python Flask framework and is the focus for COMP2041 Assignment2
  </p>
  {% if session.logged_in == NULL %}
  <a href="{{url_for('register')}}" class="btn btn-primary btn-lg">Register</a>
  <a href="{{url_for('login')}}" class="btn btn-success btn-lg">Login</a>
</div>
{% else %}
</div>
<a class="btn btn-success pull-right" aria-label="Right Align" href="{{url_for('add_post')}}">Create Post</a>
{% endif %} {% endblock %}
