<!DOCTYPE html>
<html lang="en">

<head>
  <title>unswtalk</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="{{url_for('static', filename='UNSWtalk.css')}}?q=1280549780" ) rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js?q=1280549780"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js?q=1280549780"></script>
  <script src="{{url_for('static',filename='javascripts/base.js')}}?q=1280549780"></script>
</head>

<body>
  {% include 'includes/_navbar.html' %}
  <div class="container">
    {% include 'includes/_message.html' %} {% block body_contents %} {% endblock %}

  </div>

</body>

</html>
